/* user profile*/

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

nav .navbar-brand {
    color: #D10024;
}

nav ul li a.nav-link:hover {
    color: #D10024;
}

nav ul li .active {
    color: #D10024 !important;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.slider-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* about */

#about {
    background-color: rgba(179, 179, 179, 0.05);
}


/* footer */

footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--pink)!important;
}

.whatsapp-chat {
    bottom: 10px;
    left: 10px;
    position: fixed;
}


@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}